.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-items: center;
}
.Images{
    height: 400px;
    width: 100%;
    cursor: pointer;
}
@media (min-width: 1050px) and (max-width:1090px){
    .cards{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    #CARD4{
        width: 100%;
        grid-row: 2/2 !important;
        grid-column: 1/5 !important;
    }
    .CARDS{
        margin-bottom: 5px;
    }
    .Images{
        height: 500px;
        width: 100%;
    }
}
@media (min-width: 500px) and (max-width:1050px){
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px;
    }
    .CARDS{
        width: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .Images{
        height: 500px;
        width: 100%;
    }
   
}
@media (min-width: 100px) and (max-width:700px){
    .cards{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .CARDS{
        width: 100% !important;
        margin-top: 5px;
    }
    .Images{
        height: 500px;
        width: 100%;
    }
}
.CARDS button{
    background-color: aliceblue !important;
    color: rgb(139, 14, 5);
    border-color: black !important;
    border-width: 1.5px !important;
}
.card-body{
    background-color: rgba(134, 68, 240, 0.702);
}
.CARDS button:hover{
    transition: 0.5s;
    background-color: rgba(134, 68, 240, 0.702) !important;
    color: white;
    border-color: white !important;
}
.title{
    color: white !important;
    font-size: 17px !important;
}
.title-content{
    color: black !important;
}
.CARDS:hover{
    /* transition: 0.5s;
    transform:scale(1.1);
    z-index: 1; */
    box-shadow: 0px 0px 10px 0px black;
}
